<div class='landing'>
  <div class='landing-container'>
    <div class='landing-title-container'>
      <header class='landing-title'>Witaj w świecie książek</header>
    </div>
  </div>
    <div class='landing-button-container'>
      <button class='landing-button' mat-flat-button (click)='handleBrowseBooks()'>Wyświetl produkty</button>
    </div>
    <div class='landing-footer'>
      <span>Photo by <a href="https://unsplash.com/@alfonsmc10?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alfons Morales</a> on <a href="https://unsplash.com/s/photos/bookshelf?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </div>

</div>

<div id="scroll"></div>
