<div class='landing'>
  <div class='landing-content'>
    <header class='landing-title'>Witaj w świecie książek</header>
  </div>
  <div class='landing-button'>
    <button mat-raised-button (click)='handleBrowseBooks()'>Przeglądaj książki</button>
  </div>
  <div class='landing-footer'>
    <span>Photo by <a
        href="https://unsplash.com/@richasharma96?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Richa
        Sharma</a> on <a
        href="https://unsplash.com/s/photos/landing-page-books?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
    </span>
  </div>
</div>
