<p>
  <mat-toolbar class='navbar' color="primary">
    <span (click)='handleScrollToTheTop()'>Bookshop</span>
    <mat-icon>book</mat-icon>
    <span class="example-spacer"></span>
    <span class="spacer"></span>

    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <app-login *ngIf='!this.account.isLoggedIn()'></app-login>
    <app-register *ngIf='!this.account.isLoggedIn()'></app-register>
    <app-logout *ngIf='this.account.isLoggedIn()'></app-logout>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
