<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

</style>

<div class="content" role="main">

  <app-navbar></app-navbar>
  <app-landing></app-landing>
  <!-- <app-search></app-search> -->

  <!-- BOTTOM PART -->
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content>
      <app-list></app-list>
    </mat-drawer-content>
  </mat-drawer-container>
  <router-outlet></router-outlet>
