#booklist
    background-color: ivory

.book-list-container
    margin: 0 0 0 3vh
.mat-card-container
    background: #F6F6F6
    width: 22vh
    height: 32vh
    display: inline-block
    justify-content: center
    border: none
    box-shadow: none
    margin: 0vh 2.5vh 1vh 2.5vh
    .small-image
        height: 90%
        width: 100%
        margin: 0 0 0 0
        transition: .3s ease
        backface-visibility: hidden
        cursor: pointer
        box-shadow: 1.5px 0.8px #c2c2c2
        &:hover
            opacity: 0.3
        &:hover ~ .middle
            opacity: 1
    .middle
        transition: .4s ease
        opacity: 0
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        cursor: pointer
        &:hover
            opacity: 1
        &:hover ~ .mat-card-image
            opacity: 0.3
    .see-more
        font-size: 50px
        &:hover
            opacity: 1
        &:hover ~ .mat-card-image
            opacity: 0.3
    .add-to-cart-button
        text-align: center
        width: 100%
        height: 10%
        background: white
        color: black
        padding: 0 !important
        margin-top: -5px
        border-radius: 0px 0px 10px 10px
        border: 1px solid black
        border-top: none
        box-shadow: 1.5px 0.8px #c2c2c2
        transition: 0.2s
        font-size: 0.75rem
        &:hover
            background: #e9e9e9d8
            font-size: 0.7rem
    .price
        text-align: center
        margin-top: 0.5vh

.modal-card
    text-align: center
    .card
        width: 100vh
        .modal-card-head
            display: flex
            border-bottom: solid 1px grey
            margin: 2% 3% 4% 3%
            .spacer
                flex: 1 1 auto
            .exit-button
                border: none
                box-shadow: none
                border-radius: 200px
        .modal-card-body
            display: flex
            margin: 1% 4% 1% 4.7%
            .big-image
                width: 350px !important
                height: 480px !important
            .spacer
                flex: 1 1 auto
            .text-container
                margin: 0 0 0 5%
                .description-header-container
                    text-align: left
                .text-description
                    text-align: justify
                .genres-price-container
                    display: flex
                    .spacer
                        flex: 1 1 auto
                .overlay-add-to-cart-button
                    width: 100%
                    height: 10%
                    color: white
                    background: black
                    transition: 0.2s ease
                    font-size: 0.75rem
                    &:hover
                        font-size: 0.7rem
