<div id='book-list'>
  <app-search></app-search>
      <div class='book-list-container'>
      <mat-card class='mat-card-container' *ngFor="let book of this.bookList | paginate: { itemsPerPage: 10, currentPage: page }">
        <img class='small-image' mat-card-image src='{{book.cover}}' (click)="openWithTemplate(tpl)">
        
        <ng-template #tpl>
          <div class="modal-card">
            <mat-card class="card">

              <header class="modal-card-head">
                <h1>{{book.title}}</h1>
                <button class='button' mat-raised-button (click)='onCancel()'>
                  <mat-icon>cancel</mat-icon>
                </button>
              </header>
             
              <section class="modal-card-body">

                    <div>
                      <img class='big-image' mat-card-image src='{{book.cover}}'>
                    </div>
                  <div>
                    <h4>{{book.price + 'zł'}}</h4>
                    <p>{{book.description}}</p>
                  </div>
                  <button class="overlay-add-to-cart-button" mat-stroked-button color="primary" (click)='handleAddToCart(book.title)'>Dodaj do
                    koszyka
                    <mat-icon>add_shopping_cart</mat-icon>
                  </button>

              </section>

              <footer class="modal-card-foot"></footer>
              
            </mat-card>
          </div>
        </ng-template>

        <div class="middle">
          <mat-icon class="see-more">zoom_in</mat-icon>
          <p>Więcej</p>
        </div>
        <button class='add-to-cart-button' mat-stroked-button (click)='handleAddToCart(book.title)'>Do koszyka
          <mat-icon>add_shopping_cart</mat-icon>
          <mat-card-title class="price">{{book.price + 'zł'}}</mat-card-title> 
        </button>
      </mat-card>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
