<div id='book-list'>
  <mat-grid-list cols="4" rowHeight="1:1.15">
    <mat-grid-tile *ngFor="let book of bookList | async">
      <mat-card>
        <mat-card-title>{{book.price + 'zł'}}</mat-card-title>
        <img mat-card-image src='{{book.cover}}'>
        <div class="middle">
          <button mat-raised-button>Więcej</button>
        </div>
        <button mat-stroked-button (click)='handleAddToCart(book.title)'>Dodaj do koszyka <mat-icon>add
          </mat-icon></button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
