<button class='button' mat-raised-button (click)="openWithTemplate(tpl)">Zaloguj się</button>
<ng-template #tpl>
  <div class="modal-card">
    <mat-card class="card">
      <header class="modal-card-head">
        <h1>Logowanie</h1>
      </header>
      <section class="modal-card-body">
        <form>
          <div>
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input matInput placeholder="Wpisz login..." [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Hasło</mat-label>
              <input matInput placeholder="Wpisz hasło..." [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button class='button' mat-raised-button (click)='onSubmit()'>Potwierdź</button>
        <button class='button' mat-raised-button (click)='onCancel()'>Anuluj</button>
      </footer>
    </mat-card>
  </div>
</ng-template>
