.search-container
    margin: 8vh 0 0 7vh
    .search-header
        color: black
    .search-form-container
        display: flex
        justify-content: center
        width: 40%
        height: 6%
        .search-form
            width: 100%
        .search-button
            height: 20%
            margin: 1% 1% 0 0
