<div class='search-container'>
  <h1 class='search-header'>Szukaj</h1>
  <form class='search-form-container'>
    <button class='search-button' mat-stroked-button (click)="setUrl(value)">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field class="search-form">
      <mat-label>Wpisz tytuł lub autora książki...</mat-label>
      <input type="text" matInput [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="cancelSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
